[Unit]
Description=go
After=syslog.target

[Service]
User=go
Group=go
Restart=always
RestartSec=10s
WorkingDirectory=/app
ExecStart=/app/go-vault-demo
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
