azure_location="westus2"
azure_env="vault-auth-demo"
azure_image_name="vault-auth-demo-image"
azure_image_resource_group="vaultdemoimages"
vault_host="localhost"
vault_port="8200"
vault_scheme="http"
postgres_host="localhost"
