vault_host="localhost"
vault_port="8200"
vault_scheme="http"
postgres_host="localhost"
gcp_project="go-vault-demo"
gcp_region="us-central1"
gcp_zone="us-central1-b"
gcp_image="go-vault-demo"
gcp_instances="1"
